                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    font-family: Arial;
                }

                body {
                    background: rgb(236, 235, 235);
                    height: 2000px;
                }

                /* BANNER */

                #banner {
                    width: 100%;
                    height: 100vh;
                    background-image: url(./IMG/Banner.jpg);
                    background-size: cover;
                    color: #3F4956;
                    background-attachment: fixed;
                }

                #banner nav, #banner-about nav {
                    padding: 30px;
                }

                #banner a, #banner-about a {
                    font-family: Verdana;
                    color: rgb(42, 82, 128);
                    text-decoration: none;
                    padding: 50px;
                    font-size: 20px;
                    transition: 0.3s;
                }

                #banner a:hover, #banner-about a:hover {
                    color: rgb(238, 137, 78);
                    text-decoration-line: underline;
                }

                #banner h1 {
                    text-align: center;
                    font-size: 100px;
                    margin: 300px auto 0;
                }

                #banner hr {
                    width: 400px;
                    margin: 30px auto;
                }

                #banner p {
                    text-align: center;
                    padding: 30px 50px;
                    font-weight: bold;
                    opacity: 0.8;
                }

                #news>div {
                    background: #fff;
                    text-align: center;
                }

                #news h3, h1 {
                    text-align: center;
                    padding: 10px;
                }

                #news p {
                    line-height: 3;
                    padding: 15px;
                }

                #news {
                    width: 1200px;
                    height: 100vh;
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 70px;
                    padding: 150px;
                }

                #news #news-left {
                    height: 350px;
                    background-image: url(./IMG/newsleftapple.jpg);
                }

                #news #news-right {
                    height: 350px;
                    background-image: url(./IMG/newsrightbanana.jpg);
                }

                .button {
                    text-decoration: none;
                    color: #aaa;
                    border: 1px solid #3F4956;
                    padding: 10px 50px;
                    transition: 0.5s;
                }

                .button:hover {
                    color: white;
                    background: #aaa;
                }

                #box {
                    background-image: url(./IMG/FRUITS.jpg);
                    background-attachment: fixed;
                }

                #box h2 {
                    backdrop-filter: blur(3px);
                    color: white;
                    letter-spacing: 100px;
                    text-align: center;
                    font-size: 100px;
                    padding: 100px 0;
                    padding-left: 50px;
                }

                #content {
                    width: 1200px;
                    margin: 0 auto;
                }

                #content h1 {
                    text-align: center;
                    font-weight: 100;
                    color: #333;
                    padding: 50px;
                    letter-spacing: 20px;
                    padding-left: 20px;
                }

                #content div {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 70px;
                }

                #content a {
                    height: 350px;
                }

                #content #contact {
                    background-image: url(./IMG/lemon.jpg);
                }

                #content #about {
                    background-image: url(./IMG/grapefruit.jpg);
                }

                #content a {
                    height: 350px;
                    height: 350px;
                    /* 行高 = 高度 垂直置中 ※僅限於一行文字 */
                    line-height: 350px;
                    text-decoration: none;
                    color: white;
                    font-size: 30px;
                    letter-spacing: 30px;
                    text-align: center;
                }

                #content a span {
                    /* 改為區塊元素：填滿 */
                    display: block;
                    backdrop-filter: blur(5px) opacity(80%);
                    transition: 0.5s;
                }

                #content a span:hover {
                    backdrop-filter: blur(5px) opacity(20%);
                }

                #map {
                    width: 100%;
                    height: 500px;
                    margin-top: 150px;
                }

                footer {
                    background: #252525;
                    text-align: center;
                    padding: 50px 0;
                    color: white;
                }

                footer #box2 a {
                    text-align: center;
                    letter-spacing: 30px;
                    padding-left: 30px;
                    padding: 50px;
                }

                footer #box2 a {
                    padding: 20px;
                    /* 濾鏡 */
                    filter: opacity(100%);
                    transition: 0.5s;
                }

                footer #box2 a:hover {
                    filter: opacity(10%);
                }

                footer h2 {
                    font-weight: 100;
                    letter-spacing: 10px;
                    padding-left: 10px;
                    padding: 50px 0 40px;
                    font-size: 30px;
                }

                footer p {
                    padding: 20px;
                    font-size: 10px;
                    color: #aaa;
                    letter-spacing: 3px;
                    padding-left: 3px;
                }

                /* BANNER-ABOUT */

                #banner-about {
                    width: 100%;
                    height: 30vh;
                    background-image: url(./IMG/aboutme.jpg);
                    background-size: cover;
                    color: #3F4956;
                    background-attachment: fixed;
                }

                #banner-about h2 {
                    text-align: center;
                    font-size: 40px;
                    letter-spacing: 30px;
                    padding-left: 30px;
                    font-weight: 100;
                    backdrop-filter: blur(3px);
                    line-height: 20vh;
                    height: 24vh;
                }

                #banner-about nav {
                    backdrop-filter: opacity(3px);
                }

                #about-content {
                    width: 1200px;
                    margin: 0 auto;
                    background: black;
                    padding: 50px 80px;
                    margin-top: 100px;
                    margin-bottom: 100px;
                }

                #about-content h3 {
                    text-align: center;
                    padding: 20px;
                    color: rgb(126, 126, 126);
                    letter-spacing: 10px;
                    padding-left: 10px;
                    font-weight: 100;
                    text-transform: uppercase;
                }

                #about-content hr {
                    width: 600px;
                    margin: 0 auto;
                }

                #about-content h2 {
                    text-align: center;
                    padding: 30px;
                    color: rgb(87, 87, 87);
                    letter-spacing: 10px;
                    padding-left: 10px;
                    font-weight: 100;
                }

                #about-content #about-1 {
                    height: 350px;
                    background-image: url(./img/about-1.jpg);
                    background-size: cover;
                    background-position: center;
                }

                #about-content #about-2 {
                    height: 350px;
                    background-image: url(./img/about-2.jpg);
                    background-size: cover;
                    background-position: center;
                }

                #about-content #about-3 {
                    height: 350px;
                    background-image: url(./img/about-3.jpg);
                    background-size: cover;
                    background-position: center;
                }

                #about-content p {
                    padding: 30px 0;
                    line-height: 2;
                    color: #888;
                }

                footer h2 a {
                    text-decoration: none;
                    color: white;
                    transition: 0.5s;
                }

                footer h2 a:hover {
                    text-decoration: none;
                    color: #888;
                }